.outer {
	width: 800px;
	height: 400px;
	margin: 10px auto;
	background: #9FE4E7;
	position: relative;
}

.outer img {
	position: absolute;
	top: 0;
	width: 100%;
	z-index:2;
}

.inner {
	width: 200px;
	height: 200px;
	background: rgb(253, 89, 89);
	position: absolute;
	right: 0px;
	top: 20px;
	z-index:3;
}

.spacer {
	height: 700px;
	width: 300px;
	margin: 40px auto;
	background: black;
}